#footer{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

footer {
  background-color: #1F1F1F;
  color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer p {
  margin: 0;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

footer li {
  margin-right: 20px;
}

footer li:last-child {
  margin-right: 0;
}

.deco{
  color: #fff;
  text-decoration: none;
}
.deco:hover{
    color: white;
}

.linea::after {
  content: ''; 
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -2px;
  left: 0;
  background-color: hsl(38, 100%, 57%) ;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.linea:hover::after {
transform: scaleX(1);
transform-origin: bottom left;
}