
.menu{
    background-color: #1F1F1F;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.lista{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    width: 40vw;
}
.lista li {
    list-style-type: none;

}
.deco{
    text-decoration: none;
    color: white;
    color: 'var(--primary-color-text)';
    font-size: large;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}
.deco:hover{
    color: white;
}
 
.logoH:focus{
    animation: slide 0.7s ease-in ;
    animation-iteration-count: 2;
    transform-origin: center center;
} 
@keyframes slide {
    0% {
      transform: translateX(-50%);
      opacity: 0;
    }
    25% {
      transform: translateX(0%);
      opacity: 1;
    }
    50%{
        transform: translateX(50%);
        opacity: 0;
    }
    75% {
      transform: translateX(-50%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }

.linea::after {
        content: ''; 
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: -2px;
        left: 0;
        background-color: hsl(38, 100%, 57%) ;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

.linea:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
#dark_mode{
    padding-bottom: 5%;
}
.dark_mode{
    display:flex;
    align-items:center;
    color: white;
    flex-direction: column;
}
