.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 5%;
}

.animacionDiv {
    position: relative;
    width: 100%;
}

.logoI {
    width: 60%;
    position: absolute;
    top: 80px;
    left: 20%;
}


.ani1 {
    animation: ani1 0.5s ease-in infinite;
    animation-iteration-count: 5;
    transform-origin: center center;
}

@keyframes ani1 {

    0% {
        transform: translateX(-50%);
        opacity: 0.5;
    }

    50%{
        transform: translateX(0%);
        opacity: 1;
    }

    100% {
        transform: translateX(50%);
        opacity: 0.5;
    }

}