.cuerpo{
    height: 100%;
    width: 100%;
}
.mainRouter{
    display: flex;
    width: 100%;
}
.mainRouter>aside{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.mainRouter>section{
    width: 80%;
}