body {
  background-color: #353434;
  color: aliceblue;
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
aside {
  width: 20%;
}
.contenedor {
  width: 80%;
}
.onlyback {
  background-color: #1f1f1f;
  color: white;
}
.onlyMBack {
  background-color: #353434;
  color: white;
}
.backBlack {
  background-color: #1f1f1f;
  color: orange;
}
.backMBlack {
  background-color: #353434;
  color: orange;
}

.perfil {
  width: auto;
}

@media screen and (max-width: 800px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  aside {
    width: 100%;
  }
  .listaCategoria {
    height: 70px;
  }
  .contenedor {
    width: 100%;
  }
}
