.cuerpo{
    height: 100%;
    width: 100%;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
aside{
    width: 20%;
}
.contenedor{
    width: 80%;
}
.backBlack{
    background-color: #1F1F1F;
    color: white;
}